.settingsModal {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 920px;
    max-height: 700px;
    padding: 40px 20px;
    overflow-y: auto;

    @media (min-width: 768px) {
        padding: 40px;
    }
}

.settingsModal::-webkit-scrollbar {
    width: 8px;
}

.settingsModal::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    border-radius: 30px 0px 0px 0px;
}

.settingsModal::-webkit-scrollbar-thumb {
    background: rgba(240, 239, 244, 1);
    border-radius: 30px;
}

.settingsModal::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.settingsModalTitle {
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: rgba(50, 63, 71, 1);
}