.customImageUploading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadImageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagePreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.uploadImageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &:hover {
    .uploadImageButton {
      color: #87D28D;
    }

    svg {
      stroke: #87D28D;
    }
  }
}

.uploadImageButton {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  gap: 8px;

  svg {
    transform: rotate(-90deg);
    stroke: #2F2F2F;
  }
}

.imagePlaceholder {
  width: 100px;
  height: 100px;
  max-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  background-color: rgb(220, 220, 220);
}

.avatar {
  width: 100px;
  height: 100px;
  max-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.imageItemBtnWrapper {
  display: flex;
  gap: 10px;
  margin-top: 5px;

  button {
    width: Hug (135px)px;
    height: Hug (60px)px;
    top: 20px;
    left: 20px;
    padding: 18px 40px 18px 40px;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #323F47;
    opacity: 0px;
    cursor: pointer;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #323F47;

    &:hover {
      border: 1px solid #87D28D;
      color: #87D28D;
    }
  }
}