.userButtonContainer {
  width: fit-content;

  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: relative;
}
.userButton {
  border-radius: 30px;
  padding: 6px 12px;
  width: 157px;
  height: 50px;
  background: var(--light-black);
  border: none;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-name {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color:var(--white);
}

.user-button img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.userPhoto {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 8px;
  color:var(--white);
  background-color: var(--light-black);
}

.userName {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color:var(--white);

  width: 7ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rotate-arrow {
  transform: rotateZ(180deg);
  color:var(--white);
}
.userWpapper {
  display: flex;
  align-items: center;
}
.svg {
  stroke: var(--light-black);
  transition: color 0.3s;
}