.waterProgressBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 6px;
  border-radius: 15px;
  padding: 12px;
  width: 198px;
  height: 70px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 0 auto;
  margin-bottom: 42px;
}

.today {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #323f47;
  align-self: flex-start;
}

.progressContainer {
  border-radius: 9px;
  width: 174px;
  height: 6px;
  background-color: #f0eff4;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.labels {
  border-radius: 9px;
  width: 174px;
  height: 6px;
  display: flex;
  justify-content: space-between;
}

.label {
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.705);
}

@media (min-width: 768px) {
  .waterProgressBar {
    padding: 20px;
    width: 295px;
    height: 106px;
    margin-bottom: 26px;
  }

  .today {
    font-size: 15px;
    line-height: 149%;
  }

  .progressContainer {
    width: 255px;
    height: 8px;
  }

  .labels {
    width: 255px;
    height: 23px;
  }

  .label {
    font-size: 12px;
    line-height: 187%;
  }
}

@media (min-width: 1440px) {
  .label {
    font-size: 12px;
  }
}
