.buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.addWaterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 30px;
  padding: 14px 20px;
  width: 140px;
  height: 46px;
  background-color: #323f47;
  border: none;
  margin-bottom: 16px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  font-weight: 700;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-align: center;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.addWaterBtn:hover {
  color: #9be1a0;
}

/* .addWaterBtn:active {
  color: #ffffff;
} */

.icon {
  width: 16px;
  height: 16px;
  stroke: currentColor;
  stroke-width: 2px;
}

/* .addWaterBtn:hover .icon,
.addWaterBtn:focus .icon {
  fill: #9be1a0;
} */

@media (min-width: 768px) {
  .addWaterBtn {
    padding: 18px 30px;
    width: 178px;
    height: 60px;
    margin-top: 26px;
    font-size: 16px;
    line-height: 150%;
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1440px) {
  .addWaterBtn {
    margin-top: 56px;
  }
}
