.select {
  font-family: inherit;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  border-radius: 15px;
  padding: 0 5px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  color: var(--black);
  margin-left: 84px;
  outline: none;
}
.noMargin {
  margin: 0;
}

@media (min-width: 768px) {
  .select {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 20px;
    padding: 0 5px;
    height: 40px;
    margin-left: 375px;
  }
}

@media (min-width: 1440px) {
  .select {
    margin-left: 343px;
  }
}
