.signUpPageWrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
  height: fit-content;
}

.formWrapper {
  border-radius: 30px;
  border: none;
  background-color: var(--light-gray);
  width: 100%;
  height: fit-content;
  padding: 24px 16px;
}

.disabled {
  display: none;
}

@media (min-width: 768px) {
  .formWrapper {
    padding: 32px 32px;
  }
}


@media (min-width: 1440px) {
  .formWrapper {
    width: 672px;
  }

  .disabled {
    display: block;
  }
}