.userPanelWrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.userTitle {
  max-width: 400px;
  overflow: hidden;
}
.fontGilroy {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
}
.fontGilroyBolt {
  font-family: 'Gilroy-Bold', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #323f47;
}

@media (min-width: 768px) {
  .userPanelWrap {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
}
