.calendar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  gap: 16px;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.btn {
  border: none;
  outline: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
}

.disabledStyle {
  cursor: 'not-allowed';
}

.hidden {
  visibility: hidden;
}
