.calendar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  gap: 16px 18px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.disabledStyle {
  cursor: 'not-allowed';
}

.hidden {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .calendar {
    gap: 15px 48px;
  }
}

@media screen and (min-width: 1440px) {
  .calendar {
    gap: 15px 43px;
  }
}
