.container {
  background-color: #f0eff4;
  padding: 40px 20px;
  width: 343px;
  border-radius: 30px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}
.blockcalendar {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;

  svg {
    width: 8px;
    height: 12px;
  }

  .schedule {
    width: 20px;
    height: 20px;
    margin-left: 16px;
  }
}
