.container {
  background-color: #f0eff4;
  padding: 40px 20px;
  width: 343px;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 672px;
  }
}
