.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 42px;
}

.wrapper {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
}

.svg {
  stroke: #2f2f2f;
  transform: rotate(-90deg);
  stroke-width: 1.8px;
}

.img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  object-fit: cover;
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  gap: 8px;
  cursor: pointer;
  color: var(--light-black);
  text-align: center;
}

.input {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    width: 100px;
    height: 100px;
  }

  .img {
    width: 100px;
    height: 100px;
  }
}
