@import '../../../../../../../../utils/variables.css';

.settingsForm {
    display: grid;
    gap: calc(var(--spacing) * 5);
    grid-template-columns: 1fr;
}

@media (min-width: 768px) {
    .settingsForm {
        grid-template-columns: 1fr 1fr;
    }
}

.gridItem {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);

    @media (min-width: 768px) {
        &:last-child {
            margin-top: 87px;
        }
    }
}

.formGroup {
    width: 100%;
    border-radius: var(--radius-sm);
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--spacing) * 3.5);

    p {

        span {
            font-size: var(--font-body2-size);
            font-weight: var(--font-body2-weight);
            line-height: var(--font-body2-line-height);
            text-align: left;
            color: var(--light-green);
        }
    }
}

.formGroupDailyNorma {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: calc(var(--spacing) * 3.5);
    width: 100%;

    .dailyNormaGroup {
        display: flex;
        flex-wrap: wrap;
        gap: calc(var(--spacing) * 3);

        @media (min-width: 768px) {
            gap: calc(var(--spacing) * 7);
        }
    }

    div {
        p {
            font-size: var(--font-h6-size);
            font-weight: var(--font-h6-weight);
            line-height: var(--font-h6-line-height);
            letter-spacing: -0.01em;
            text-align: left;
            color: var(--light-green);
        }
    }

    p {
        span {
            color: #9BE1A0;
        }
    }
}

.formGroup input[type="text"],
.formGroup input[type="number"],
.formGroup input[type="email"] {
    width: 100%;
    height: 46px;

    border: 1px solid rgba(47, 47, 47, 0.15);
    border-radius: var(--radius-sm);
    outline: none;
    padding-left: 16px;
    padding-top: 14px;
    padding-bottom: 14px;

    font-weight: var(--font-body1-weight);
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    color: var(--black);

    @media (min-width: 648px) {
        height: 56px;
    }
}


.formGroup input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light-green);
    background-color: var(--white);
    cursor: pointer;
    position: relative;
}

.formGroup input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--light-green);
}

.formGroup input[type="radio"]:focus {
    outline: none;
}

.formGroup p {
    margin: 0;
}

.formGroupLabel {
    font-family: inherit;
    font-size: var(--font-h5-size);
    font-weight: var(--font-h5-weight);
    line-height: var(--font-h5-line-height);
    letter-spacing: -0.01em;
    color: var(--light-black);
}

.light {
    font-weight: var(--font-body1-weight);
    color: var(--black);
}

.radioGroup {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing) * 2.5);

    label {
        display: flex;
        gap: calc(var(--spacing) * 2.5);
        margin-bottom: 0;
    }

    input {
        margin-bottom: 0;

    }
}

.saveButton {
    width: fit-content;
    margin-top: 20px;
    padding: 14px 40px;
    background-color: var(--light-green);
    font-size: var(--font-h6-size);
    font-weight: var(--font-h6-weight);
    color: var(--light-black);
    border: none;
    border-radius: var(--radius-md);
    cursor: pointer;

    @media (min-width: 648px) {
        padding: 18px 40px;
    }
}

.saveButton:hover {
    background-color: var(--hover-light-green);
}

.errorMessage {
    color: var(--light-red);
    font-size: var(--font-caption-size);
    margin-top: 4px;
}