.dailyNorma {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 52px;
  border-radius: 15px;
  padding: 12px;
  width: 102px;
  height: 54px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 78px 185px 49px 0;
}
.waterDailyNorma {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  width: 78px;
  height: 30px;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: rgba(47, 47, 47, 0.6);
}

.highlight {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #323f47;
}
