.signUpWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainText {
  font-family: inherit;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--light-black);
  margin: 126px 0 32px;
}

.labelText {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--black);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  position: relative;
}
.inputField {
  font-family: inherit;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--black);
  background-color: transparent;
  border: 1px solid #2f2f2f33;
  border-radius: 15px;
  padding: 16px;
  max-width: 311px;
  max-height: 50px;
  outline: none;
}

.error {
  position: absolute;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--light-red);
  top: 75px;
}

.submitBtn {
  margin: 16px 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--light-black);
  border-radius: 30px;
  padding: 16px;
  width: 311px;
  height: 50px;
  border: none;
  background-color: var(--light-green);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #87d28d;
}
.dontHaveAcc {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f99;
  text-align: center;
}
.navigate {
  font-family: inherit;
  font-weight: 700;
  color: var(--light-black);
  text-decoration: underline;
}

.eyeIcon {
  position: absolute;
  top: 40px;
  right: 17px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .mainText {
    margin-top: 171px;
    font-size: 36px;
    line-height: 1.05556;
  }

  .labelText {
    font-size: 16px;
    line-height: 1.5;
  }

  .formGroup {
    margin-bottom: 20px;
  }

  .inputField {
    max-width: 436px;
    max-height: 56px;
    font-size: 16px;
    line-height: 1.5;
  }

  .error {
    top: 90px;
  }

  .submitBtn {
    margin: 12px 0 16px;
    font-size: 16px;
    line-height: 1.5;
    padding: 18px;
    width: 436px;
    height: 60px;
  }

  .dontHaveAcc {
    font-size: 16px;
    line-height: 1.5;
  }

  .eyeIcon {
    top: 50px;
  }
}

@media (min-width: 1440px) {
  .mainText {
    margin-top: 74px;
  }
}
