body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
